<div class="detail">
    <div class="detail-image-wrapper">
        <img class="detail-image" src={{starship.url}} (error)='getStarshipComplements(starship.id)' alt="">
    </div>
    <div class="detail-content-wrapper">
        <div class="detail-content">
            <h1 class="detail-title">{{starship.name}}</h1>
            <p>{{description}}</p>
            <p class="detail-description">{{starship.model}}</p>
            <p class="detail-description">{{starship.manufacturer}}</p>
            <p class="detail-description">{{starship.cost_in_credits}}</p>
            <p class="detail-description">{{starship.length}}</p>
            <p class="detail-description">{{starship.max_atmosphering_speed}}</p>
            <p class="detail-description">{{starship.crew}}</p>
            <p class="detail-description">{{starship.passengers}}</p>
            <p class="detail-description">{{starship.cargo_capacity}}</p>
            <p class="detail-description">{{starship.consumables}}</p>
            <p class="detail-description">{{starship.hyperdrive_rating}}</p>
            <p class="detail-description">{{starship.MGLT}}</p>
            <p class="detail-description">{{starship.starship_class}}</p>
        </div>
    </div>
    

</div>




