<div class="detail">
    <div class="detail-image-wrapper">
        <img  default={{default}}  class="detail-image image-not-loaded" src={{starship.url}}  alt="">
    </div>
    <div class="detail-content-wrapper">
        <div class="detail-content">
            <h1 class="detail-title">{{starship.name}}</h1>
            <p>{{description}}</p>
            <p class="detail-description">Model: {{starship.model}}</p>
            <p class="detail-description"> Manufacturer: {{starship.manufacturer}}</p>
            <p class="detail-description">Cost: {{starship.cost_in_credits}}</p>
            
        </div>
    </div>
    

</div>
<app-films [starship]='starship'></app-films>
<app-pilots [starship]='starship' *ngIf="starship.pilots.length" ></app-pilots>





