<div class="nav">
    <div class="nav-social-links">
        <img src="../../../assets/images/icon_facebook-aec3b685b1a1.svg" alt="">
        <img src="../../../assets/images/icon_instagram-be8807d03d5f.svg" alt="">
        <img src="../../../assets/images/icon_twitter-bde9a7f5abaa.svg" alt="">
        <img src="../../../assets/images/icon_youtube-ed78c6ee1c7d.svg" alt="">
    </div>
    <div class="nav-logo">
        <img src="../../../assets/images/sw_logo_stacked-336c62367939.png" alt="">
    </div>
    <div class="nav-utilities">
        <p (click)="openLoginModal()">Log in</p>
        <p>//</p>
        <p (click)='openSingupModal()'>Sign Up</p>
    </div>

</div>
<div class="nav-content">
    <ul class="nav-content-links">
        <li routerLink="/"><span>HOME</span></li>
        <li routerLink="/starships"><span>STARSHIPS</span></li>
        <li routerLink="/actors"><span>ACTORS</span></li>
    </ul>
</div>
        

