<div class="container">
    <img src="../../../assets/images/SW-logo.png" alt="" class="container-logo">
    <h2 class="container-title">create your account</h2>
    <div class="container-form">
        <form class="form-signup">
            <input type="text" id="inputName" class="form-control" placeholder=" Your Name" >
            <input type="text" id="inputLastName" class="form-control" placeholder=" Your Last Name" >
            <input type="email" id="inputEmail" class="form-control" placeholder=" Email address" >
            <input type="password" id="inputPassword" class="form-control" placeholder=" Password">
            <button class="signup-button" type="submit">Create Account</button>
           
        </form>
        <div class="signin-redirect">
            <p>Already have an account?<a>Sign in</a></p>
        </div>
    </div>
</div>